# Introducción

El dataset presentado es un listado de postulantes al Concurso de Admisión de la Universidad Nacional de Ingeniería desde 2021-1 al 2024-1.  
Este dataset está caracterizado por:

* Datos del postulante: Id anonimizado, colegio, lugar del colegio (departamento, provincia, distrito), año de egreso de colegio, año de nacimiento, sexo, lugar del domicilio (departamento, provincia, distrito), lugar de nacimiento (departamento, provincia, distrito)
* Datos de la postulación: Especialidad, año, ciclo, calificación, ingreso y modalidad de ingreso.

Funte: [Postulantes al Concurso de Admisión de la Universidad Nacional de Ingeniería - UNI (datosabiertos.gob.pe)
](https://www.datosabiertos.gob.pe/dataset/postulantes-al-concurso-de-admisión-de-la-universidad-nacional-de-ingeniería-uni)

La finalidad de este Notebook es preprocesar los datos para un posterior análisis

# Carga y exploración de datos

In [37]:
import pandas as pd
import numpy as np

In [38]:
# Datos obtenidos de de datosabiertos.gob.pe
path = 'dataset/admission-data-raw.csv'
df = pd.read_csv(path)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42516 entries, 0 to 42515
Data columns (total 22 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   IDHASH               42516 non-null  object
 1   COLEGIO              42516 non-null  object
 2   COLEGIO_DEPA         42290 non-null  object
 3   COLEGIO_PROV         42288 non-null  object
 4   COLEGIO_DIST         42288 non-null  object
 5   COLEGIO_PAIS         18942 non-null  object
 6   COLEGIO_ANIO_EGRESO  42516 non-null  int64
 7   ESPECIALIDAD         42461 non-null  object
 8   ANIO_POSTULA         42516 non-null  int64
 9   CICLO_POSTULA        42516 non-null  int64
 10  DOMICILIO_DEPA       42516 non-null  object
 11  DOMICILIO_PROV       42516 non-null  object
 12  DOMICILIO_DIST       42516 non-null  object
 13  ANIO_NACIMIENTO      42516 non-null  int64
 14  NACIMIENTO_PAIS      42516 non-null  object
 15  NACIMIENTO_DEPA      42314 non-null  object
 16  NACIMIENTO_PROV      42314 non-null  object
 17  NACIMIENTO_DIST      42313 non-null  object
 18  SEXO                 42516 non-null  object
 19  CALIF_FINAL          42492 non-null  float64
 20  INGRESO              42516 non-null  object
 21  MODALIDAD            42516 non-null  object
dtypes: float64(1), int64(4), object(17)
memory usage: 7.1+ MB

Los tipos de datos coinciden con lo que representa cada columna

In [39]:
df.sample(3)

,IDHASH,COLEGIO,COLEGIO_DEPA,COLEGIO_PROV,COLEGIO_DIST,COLEGIO_PAIS,COLEGIO_ANIO_EGRESO,ESPECIALIDAD,ANIO_POSTULA,CICLO_POSTULA,...,DOMICILIO_DIST,ANIO_NACIMIENTO,NACIMIENTO_PAIS,NACIMIENTO_DEPA,NACIMIENTO_PROV,NACIMIENTO_DIST,SEXO,CALIF_FINAL,INGRESO,MODALIDAD
23165,1E58F17B0E46FE031A918D9E8DC9C100157C1D4BE2688F...,JOSE CARLOS MARIATEGUI LA CHIRA,SAN MARTIN,PICOTA,SAN HILARION,NaN,2020,INGENIERÍA AMBIENTAL,2024,1,...,NUEVA CAJAMARCA,2004,PERÚ,SAN MARTIN,RIOJA,NUEVA CAJAMARCA,MASCULINO,5.765,NO,ORDINARIO
23360,106589AA06BE77B52FAE1D36EA09B727CB548648151284...,SACO OLIVEROS DE VILLA EL SALVADOR,LIMA,LIMA,VILLA EL SALVADOR,PERÚ,2020,INGENIERÍA DE SISTEMAS,2022,1,...,VILLA EL SALVADOR,2004,PERÚ,LIMA,LIMA,VILLA EL SALVADOR,MASCULINO,4.040,NO,ORDINARIO
31368,74E1F2EDD5FF00FEB0C725AE3E27EBD14B4FF67078DC6C...,6097 MATEO PUMACAHUA,LIMA,LIMA,CHORRILLOS,NaN,2020,CIENCIA DE LA COMPUTACIÓN,2023,1,...,SANTIAGO DE SURCO,2004,PERÚ,LIMA,LIMA,LIMA,MASCULINO,11.164,SI,EXTRAORDINARIO INGRESO DIRECTO CEPRE-UNI O CEP...

In [40]:
# Valores numericos
df.describe().T

,count,mean,std,min,25%,50%,75%,max
COLEGIO_ANIO_EGRESO,42516.0,2020.043301,2.853733,1970.0,2019.000,2020.000,2022.000,2025.0
ANIO_POSTULA,42516.0,2022.564352,1.078730,2021.0,2022.000,2023.000,2023.000,2024.0
CICLO_POSTULA,42516.0,1.313082,0.463753,1.0,1.000,1.000,2.000,2.0
ANIO_NACIMIENTO,42516.0,2003.665138,2.858881,1948.0,2003.000,2004.000,2005.000,2008.0
CALIF_FINAL,42492.0,7.640941,3.561482,0.0,4.894,7.288,10.313,20.0

In [41]:
# Valores no numericos
df.describe(include='object').T

,count,unique,top,freq
IDHASH,42516,26177,8C9FB312AA48B4E42D5638C8A437E0FC26D7C470861905...,7
COLEGIO,42516,3970,TRILCE LOS OLIVOS,581
COLEGIO_DEPA,42290,38,LIMA,31968
COLEGIO_PROV,42288,230,LIMA,30441
COLEGIO_DIST,42288,818,SAN JUAN DE LURIGANCHO,3802
COLEGIO_PAIS,18942,8,PERÚ,18926
ESPECIALIDAD,42461,30,INGENIERÍA CIVIL,7608
DOMICILIO_DEPA,42516,30,LIMA,34086
DOMICILIO_PROV,42516,208,LIMA,32753
DOMICILIO_DIST,42516,769,LIMA,5245
NACIMIENTO_PAIS,42516,22,PERÚ,42285
NACIMIENTO_DEPA,42314,34,LIMA,28706
NACIMIENTO_PROV,42314,227,LIMA,27468
NACIMIENTO_DIST,42313,955,LIMA,9032
SEXO,42516,2,MASCULINO,32419
INGRESO,42516,2,NO,35535
MODALIDAD,42516,45,ORDINARIO,24054

Que el total de valores unicos para el IDHASH sea poco mas de la mitad del total, muestra que una gran parte a postulado dos o más veces

# Procesamiento y limpieza de datos

In [42]:
# Valores nulos
df.isnull().sum().sort_values(ascending=False)

COLEGIO_PAIS           23574
COLEGIO_PROV             228
COLEGIO_DIST             228
COLEGIO_DEPA             226
NACIMIENTO_DIST          203
NACIMIENTO_PROV          202
NACIMIENTO_DEPA          202
ESPECIALIDAD              55
CALIF_FINAL               24
IDHASH                     0
NACIMIENTO_PAIS            0
INGRESO                    0
SEXO                       0
DOMICILIO_PROV             0
ANIO_NACIMIENTO            0
DOMICILIO_DIST             0
COLEGIO                    0
DOMICILIO_DEPA             0
CICLO_POSTULA              0
ANIO_POSTULA               0
COLEGIO_ANIO_EGRESO        0
MODALIDAD                  0
dtype: int64

 COLEGIO_PAIS (país del colegio del postulante) es uno de los campos que contiene más valores nulos (más del 50%), tenemos que ver si podemos completar estos valores según otras columnas y evitar perder tantos datos.

In [43]:
# Mostrando algunos datos donde la columna COLEGIO_PAIS es nulo
df[df['COLEGIO_PAIS'].isnull()].sample(5)

,IDHASH,COLEGIO,COLEGIO_DEPA,COLEGIO_PROV,COLEGIO_DIST,COLEGIO_PAIS,COLEGIO_ANIO_EGRESO,ESPECIALIDAD,ANIO_POSTULA,CICLO_POSTULA,...,DOMICILIO_DIST,ANIO_NACIMIENTO,NACIMIENTO_PAIS,NACIMIENTO_DEPA,NACIMIENTO_PROV,NACIMIENTO_DIST,SEXO,CALIF_FINAL,INGRESO,MODALIDAD
30843,88836E4AAEA48BCB0E059DCE683BD40C15357B50050C4C...,SACO OLIVEROS DE JESUS MARIA,LIMA,LIMA,JESUS MARIA,NaN,2021,INGENIERÍA CIVIL,2023,1,...,SANTA ANITA,2005,PERÚ,LIMA,LIMA,SANTA ANITA,FEMENINO,13.599,NO,EXTRAORDINARIO INGRESO DIRECTO CEPRE-UNI O CEP...
14389,18FA6AEAE92F5DE58E38049B225E6149D157966FB0DA62...,SACO OLIVEROS APEIRON,CALLAO,PROV CONST DEL CALLAO,CALLAO,NaN,2021,INGENIERÍA INDUSTRIAL,2023,1,...,CALLAO,2004,PERÚ,CALLAO,PROV CONST DEL CALLAO,CALLAO,MASCULINO,4.852,NO,EXTRAORDINARIO INGRESO DIRECTO CEPRE-UNI O CEP...
41995,4B36F36CE0111441904493FED173B45A4BEBB3F627C274...,SAN JUAN BAUTISTA,LIMA,LIMA,LOS OLIVOS,NaN,2020,INGENIERÍA CIVIL,2024,1,...,LOS OLIVOS,2004,PERÚ,LIMA,LIMA,SAN MARTIN DE PORRES,MASCULINO,9.933,NO,EXTRAORDINARIO INGRESO DIRECTO CEPRE-UNI
30808,C236C9C250B0B0802CF5A243AACB33B35C73154F359C01...,JUAN PABLO PEREGRINO,LIMA,LIMA,CARABAYLLO,NaN,2020,INGENIERÍA QUÍMICA,2023,1,...,LIMA,2004,PERÚ,LIMA,LIMA,CARABAYLLO,FEMENINO,6.498,NO,ORDINARIO
8752,09B00958AD9A4C4A796FCBB28E7C650C5299BFFD00CC47...,5097 SAN JUAN MACIAS,CALLAO,PROV CONST DEL CALLAO,CALLAO,NaN,2022,INGENIERÍA DE HIGIENE Y SEGURIDAD INDUSTRIAL,2024,1,...,INDEPENDENCIA,2005,PERÚ,LIMA,LIMA,SAN MARTIN DE PORRES,MASCULINO,5.260,NO,EXTRAORDINARIO INGRESO DIRECTO CEPRE-UNI

Se puede inferir el Pais según el Departamento.

In [44]:
# En el caso de colegios, vemos si cuando es nulo en un departamento
# tambien es nulo en sus otros valores realcionados (pais, distr, prov)
df[df['COLEGIO_DEPA'].isnull()].isnull().sum()

IDHASH                   0
COLEGIO                  0
COLEGIO_DEPA           226
COLEGIO_PROV           226
COLEGIO_DIST           226
COLEGIO_PAIS           226
COLEGIO_ANIO_EGRESO      0
ESPECIALIDAD             0
ANIO_POSTULA             0
CICLO_POSTULA            0
DOMICILIO_DEPA           0
DOMICILIO_PROV           0
DOMICILIO_DIST           0
ANIO_NACIMIENTO          0
NACIMIENTO_PAIS          0
NACIMIENTO_DEPA          1
NACIMIENTO_PROV          1
NACIMIENTO_DIST          1
SEXO                     0
CALIF_FINAL             24
INGRESO                  0
MODALIDAD                0
dtype: int64

En la mayoría, si no hay valor en el departamento del colegio, tampoco lo hay en su provincia, distrito y país (con excepción de dos casos, donde al parecer hay valores para el departamento pero no para el distrito y la provincia)

In [45]:
# Valores únicos de COLEGIO_PAIS
l_paises = df['COLEGIO_PAIS'].dropna().unique()
l_paises

array(['PERÚ', 'VENEZUELA', 'ESPAÑA', 'ECUADOR', 'ARGENTINA', 'CHILE',
       'ITALIA', 'COLOMBIA'], dtype=object)

In [46]:
# Valores únicos de COLEGIO_DEPA
l_depas = df['COLEGIO_DEPA'].dropna().unique()
l_depas.sort()
l_depas

array(['AMAZONAS', 'ANCASH', 'APURIMAC', 'APURÍMAC', 'AREQUIPA',
       'ARGENTINA', 'AYACUCHO', 'CAJAMARCA', 'CALLAO', 'CANADA', 'CHILE',
       'COLOMBIA', 'CUSCO', 'ECUADOR', 'ESPAÑA', 'HUANCAVELICA',
       'HUANUCO', 'HUÁNUCO', 'ICA', 'ITALIA', 'JUNIN', 'JUNÍN',
       'LA LIBERTAD', 'LAMBAYEQUE', 'LIMA', 'LORETO', 'MADRE DE DIOS',
       'MOQUEGUA', 'PASCO', 'PIURA', 'PUNO', 'SAN MARTIN', 'SAN MARTÍN',
       'TACNA', 'TUMBES', 'UCAYALI', 'VENEZUELA', 'ÁNCASH'], dtype=object)

Parece ser que algunos departamentos se repiten debido a que uno lleva tilde y el otro no (ÁNCASH y ANCASH), los casos son: 'ANCASH', 'HUANUCO', 'JUNIN', 'APURIMAC' y 'SAN MARTIN'.  
Este tipo de error se repite en varias columnas que tiene que ver con la ubicación (colegio, domicilio y nacimiento), entonces para abordar este problema, eliminaremos las tildes de todos estos campos.

In [47]:
# Eliminado tildes
columnas_tildes = ['COLEGIO_DEPA', 'COLEGIO_PROV', 'COLEGIO_DIST',
                  'DOMICILIO_DEPA', 'DOMICILIO_PROV', 'DOMICILIO_DIST',
                  'NACIMIENTO_DEPA', 'NACIMIENTO_PROV', 'NACIMIENTO_DIST']
for col in columnas_tildes:
  df[col] = df[col].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

Tambien se observa que tenemos a CANADA, probablemente del pais CANADA, que presenta varios valores nulos, pero al ser una sola muestra no se tomará en cuenta (se eliminará al limpiar los valores nulos)

In [48]:
# CANADA
df[df['COLEGIO_DEPA'] == 'CANADA']

,IDHASH,COLEGIO,COLEGIO_DEPA,COLEGIO_PROV,COLEGIO_DIST,COLEGIO_PAIS,COLEGIO_ANIO_EGRESO,ESPECIALIDAD,ANIO_POSTULA,CICLO_POSTULA,...,DOMICILIO_DIST,ANIO_NACIMIENTO,NACIMIENTO_PAIS,NACIMIENTO_DEPA,NACIMIENTO_PROV,NACIMIENTO_DIST,SEXO,CALIF_FINAL,INGRESO,MODALIDAD
4027,45C6AA44C712F58DF8B84F3D401A0634C2A6050BF1A36D...,BISHOP O'BYRNE HIGH SCHOOL,CANADA,CALGARY,CALGARY,NaN,2022,INGENIERÍA CIVIL,2023,2,...,LIMA,2004,EE.UU.,NaN,NaN,NaN,MASCULINO,4.759,NO,ORDINARIO

In [49]:
# Guardamos los departamentos en un diccionario según el pais
d_paises = {}
for pais in l_paises:
  d_paises[pais] = df[df['COLEGIO_PAIS'] == pais]['COLEGIO_DEPA'].dropna().unique()
d_paises

{'PERÚ': array(['LIMA', 'ANCASH', 'AYACUCHO', 'ICA', 'CAJAMARCA', 'JUNIN',
        'HUANUCO', 'CALLAO', 'HUANCAVELICA', 'LAMBAYEQUE', 'PIURA',
        'AMAZONAS', 'APURIMAC', 'MADRE DE DIOS', 'SAN MARTIN', 'PUNO',
        'UCAYALI', 'LORETO', 'PASCO', 'LA LIBERTAD', 'TACNA', 'TUMBES',
        'AREQUIPA', 'CUSCO', 'MOQUEGUA'], dtype=object),
 'VENEZUELA': array(['VENEZUELA'], dtype=object),
 'ESPAÑA': array(['ESPANA'], dtype=object),
 'ECUADOR': array(['ECUADOR'], dtype=object),
 'ARGENTINA': array(['ARGENTINA'], dtype=object),
 'CHILE': array(['CHILE'], dtype=object),
 'ITALIA': array(['ITALIA'], dtype=object),
 'COLOMBIA': array(['COLOMBIA'], dtype=object)}

Solo en el caso de que los colegios sean de Perú, se especifica su departamento, etc.; para los otros paises solo se considera el mismo país para esos valores

In [50]:
len(d_paises['PERÚ']) # Tenemos los 24 departamentos + callao

25

In [51]:
# Rellenaremos los valores nulos de COLEGIO_PAIS segun los datos de COLEGIO_DEPA
for pais in d_paises.keys():
  df.loc[(df['COLEGIO_PAIS'].isnull()) & (df['COLEGIO_DEPA'].isin(d_paises[pais])), 'COLEGIO_PAIS'] = pais

In [52]:
# Visualizamos los valores nulos restantes
df.isnull().sum().sort_values(ascending=False)

COLEGIO_PROV           228
COLEGIO_DIST           228
COLEGIO_PAIS           227
COLEGIO_DEPA           226
NACIMIENTO_DIST        203
NACIMIENTO_PROV        202
NACIMIENTO_DEPA        202
ESPECIALIDAD            55
CALIF_FINAL             24
IDHASH                   0
NACIMIENTO_PAIS          0
INGRESO                  0
SEXO                     0
DOMICILIO_PROV           0
ANIO_NACIMIENTO          0
DOMICILIO_DIST           0
COLEGIO                  0
DOMICILIO_DEPA           0
CICLO_POSTULA            0
ANIO_POSTULA             0
COLEGIO_ANIO_EGRESO      0
MODALIDAD                0
dtype: int64

Para los demas casos de colegios, es difícil porder encontrar los valores nulos; de la misma forma para el lugar de nacimiento, donde se tiene el pais pero no el departamente, provincia y distrito. Por eso se considera eliminar las filas con valores nulos.

In [53]:
df.shape # Ahora

(42516, 22)

In [54]:
df.dropna().shape # Si elimináramos las filas con valores nulos

(42033, 22)

Eliminando las filas que presentan valores nulos, se perdería un total de 483 fila de datos, lo que seria menos del 1.2% de la data. Procedemos a eliminar estas filas.

In [55]:
df.dropna(inplace=True)

Exportamos los datos preprocesados

In [56]:
df.to_csv('dataset/admission-data-clean.csv', index=False)